# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/

# Database
*.db

# Virtual environment
myven/

# IDE
.vscode/
.idea/

# Test
.pytest_cache/
test_report.txt

# OS
.DS_Store

# 开发文档

docs/
项目说明.md
'AI 会议室预约助手.md'
技术说明.md

